    </body>
    
    <script>
        // $(".ui.message").hide();
        $(".ui.message.negative").transition('fly down');
        $(".ui.message.positive").transition('scale');
        // flashMessage.on("change", function() {
        //     alert("meow")
        // });
    </script>
</html>