<!DOCTYPE html>
<html>
    <head>
        <title>My Reading List</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui menu fixed inverted">
            <div class="ui container">
                <a class="item header" href="/"><i class="icon book"></i>MyReadingList</a>
                <a class="item" href="/">Home</a>
                <a class="item" href="/lists/new">Add New</a>
                
                <div class="right menu">
                    <% if (!currentUser) { %>
                        <a class="item" href="/login">Login</a>
                        <a class="item" href="/register">Register</a>
                    <% } else {%>
                        <a class="item"><%= currentUser.username %></a>
                        <a class="item" href="/logout">Logout</a>
                    <% } %>
                </div>
                <!--<a class="item" href="/test">Test</a>-->
            </div>
        </div>