<% include ./partials/header %>

<div class="ui container main segment" style="width: 25%;">
    <div class="ui form">
        <div class="ui header dividing">Login Page</div>
        
        <form action="/login" method="POST">
            <div class="field required">
                <label>Username</label>
                <input type="text" name="username" placeholder="username" required>
            </div>
            <div class="field required">
                <label>Password</label>
                <input type="password" name="password" placeholder="password" required>
            </div>
            
            <button class="ui button">Log In</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>