<% include ./partials/header.ejs %>

<div class="ui container main">
    <div class="header">Member List:</div> <hr>
    <% users.forEach(function(user) { %>
        <p><%= user.username %></p>
    <% }); %>
</div>

<% include ./partials/footer.ejs %>