<% include ./partials/header.ejs %>

<div class="ui segment container main">
    <div class="ui header huge">Add New Reading</div>
    <form class="ui form" action="/lists" method="POST">
        <div class="field required">
            <label>Title</label>
            <input type="text" name="list[title]" placeholder="Book title" required>
        </div>
        <div class="field required">
            <label>Image Link</label>
            <input type="text" name="list[image]" placeholder="Image link" required>
        </div>
        <div class="field required">
            <label>Last Read</label>
            <input type="text" name="list[lastRead]" placeholder="Last chapter read" required>
        </div>
        <div class="field required">
            <label>Genre</label>
            <input type="text" name="list[genre]" placeholder="Book genre" required>
        </div>
        <div class="field required">
            <label>Author</label>
            <input type="text" name="list[author]" placeholder="Book author" required>
        </div>
        <div class="field required">
            <label>Rating</label>
            <div class="ui rating heart mini"></div>
        </div>
        <input type="hidden" name="list[rating]" value="">
        
        <input type="submit" class="ui button">
    </form>
</div>

<script>
    var hearts = $(".rating.ui");
    hearts.rating({maxRating: 5});
    
    hearts.on("click", function() {
        $("input[name='list[rating]']").val(hearts.rating("get rating"));
    });
</script>

<% include ./partials/footer.ejs %>