<% include ./partials/header.ejs %>

<div class="ui container main">
    <p>some text</p>
    
    <div class="ui heart mini rating"></div>
    
    <script>
        $(".ui.rating").rating({ maxRating: 5 });
        var test = $(".ui.rating").rating("get rating");
    </script>
    
</div>

<% include ./partials/header.ejs %>