<% include ./partials/header.ejs %>

<div class="ui container main">
    <p>some text</p>
    
    
    <div id="meow" class="ui star mini rating"></div>
    
    
    
    DFASDFASD
    <a class="asdf">Activator</a>
    
    <div class="ui popup">
        <img class="ui image rounded small" src="https://news.nationalgeographic.com/content/dam/news/2018/05/17/you-can-train-your-cat/02-cat-training-NationalGeographic_1484324.ngsversion.1526587209178.adapt.1900.1.jpg">
    </div>
    
    <script>
        $(".ui.rating").rating({ maxRating: 5 });
        // var test = $(".ui.rating").rating("get rating");
        
        
        $('.asdf').hide();
        
        $('p').on("click", function() {
            $(".asdf").transition('drop')
        })
    </script>
    
</div>

<% include ./partials/header.ejs %>