.container.flash {
    padding-top: 5em;
    visibility: hidden;
}
.container.main {
    padding-top: 1em;
}

i.icon {
    font-size: 2em;
}

.ui.items>.item>.content p {
    margin-top: 2em;
}

#delete {
    display: inline;
}

.sort.button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.submitLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    cursor: hand;
}

.ui.celled.table tr th {
    cursor: pointer;
}