.container.main {
    margin-top: 7em;
}

i.icon {
    font-size: 2em;
}

#rating {
    margin-top: 2em;
}

#delete {
    display: inline;
}

.sort.button {
    margin-top: 5px;
    margin-bottom: 5px;
}